.header {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	background-color: #f5f5f5 !important;
	border-bottom: 1px solid #e5e5e5 !important;
}

.session-authentication .header-logged-out {
	background-color: transparent;
	border-bottom: 0;
}

.header .header-logo-wordmark,
.header .header-logo-invertocat {
	color: #333 !important;
}

.header .header-logo-invertocat .octicon-mark-github {
	width: 28px !important;
	height: 28px !important;
}

.header-sitemenu .header-navlink:hover {
	color: rgba(0,0,0,0.5) !important;
}

.header .header-navlink {
	color: #333 !important;
	font-size: 13px !important;
	/*padding: 4px 8px !important;*/
}

.header .header-navlink .text-white {
	color: #333 !important;
}

.header .user-nav .header-navlink {
	height: auto !important;
}

.header .header-navlink:hover,
.header .header-navlink:focus {
	color: #4078c0 !important;
}

.header .header-navlink:hover .dropdown-caret,
.header .header-navlink:focus .dropdown-caret {
	border-top-color: #4078c0 !important;
}

.header .notification-indicator .mail-status {
	border-color: #f3f3f3 !important;
}

.header .header-search {
	width: 360px !important;
}

.header .header-search-wrapper {
	background-color: #fff !important;
	border: 1px solid #ddd !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075) !important;
	font-size: 13px !important;
	color: #333 !important;
    	min-height: 0 !important;
}

.header .header-search-wrapper.focus {
	border-color: #51a7e8 !important;
	outline: none !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5) !important;
}

.header .header-search-scope {
	font-size: 12px !important;
	line-height: 20px !important;
	color: #767676 !important;
	border-right: 1px solid #eee !important;
}

.header .scoped-search .form-control.focus .header-search-scope {
	color: #4078c0 !important;
	background-color: #edf2f9 !important;
	border-color: #c6d7ec !important;
}

.header .header-search-input {
	min-height: 26px !important;
	font-size: 13px !important;
	color: #333 !important;
}

.header .header-search-input::-webkit-input-placeholder {
	color: inherit !important;
}

.header .header-search-input::-moz-placeholder {
	color: inherit !important;
}

.header .header-search-input:-ms-input-placeholder {
	color: inherit !important;
}

.header .header-search-input::placeholder {
	color: inherit !important;
}
